.column-avatar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column-avatar img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 3px 10px var(--shadow);
}

@media (max-width: 767px) {
  .column-avatar img {
    max-width: 150px;
  }
}
