.column-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-header .editable[data-id="greetings"] {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 10px;
}

.column-header h1 {
  font-size: clamp(1.8rem, 5vw, 1.6rem);
  color: var(--text);
  line-height: 1.2;
}

.column-header h2 {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  color: var(--dark-gray);
  font-weight: 400;
}
